# Database
DbSettings__Host=localhost
DbSettings__Port=3306
DbSettings__Database=trainee_management_db
DbSettings__User={username}
DbSettings__Password={password}

MYSQL_ROOT_PASSWORD={password}
MYSQL_DATABASE=trainee_management_db

# Redis
Redis__ConnectionString=localhost:6379
Redis__InstanceName=TraineeManagement:

# RabbitMQ

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_VHOST=/
RABBITMQ_USERNAME={username_rabbitmq}
RABBITMQ_PASSWORD={password_rabbitmq}
RABBITMQ_QUEUE_NAME=submission-processing
RabbitMq__DEADLETTEREXCHANGE=submission-processing-dlx
RabbitMq__DEADLETTERQUEUE=submission-processing-dead-letter

# JWT
Jwt__Issuer=TraineeManagementApi
Jwt__Audience=TraineeManagementClient
Jwt__ExpiryMinutes=60
Jwt__Key=ThisIsVerySecureSecretKeyForJwtTokenGeneration

# For Configuring Nuget
DOMAIN_OWNER={DOMAIN_OWNER}
NUGET_REPO_NAME={NUGET_REPO_NAME}
CODEARTIFACT_AUTH_TOKEN={CODEARTIFACT_AUTH_TOKEN}
REGION={REGION}