# Database
DbSettings__Host=localhost
DbSettings__Port=3306
DbSettings__Database=trainee_management_db
DbSettings__User=username
DbSettings__Password=password

# Redis
Redis__ConnectionString=localhost:6379
Redis__InstanceName=TraineeManagement:

# RabbitMQ

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_VHOST=/
RABBITMQ_USERNAME={username}
RABBITMQ_PASSWORD={password}
RABBITMQ_QUEUE_NAME=submission-processing

# JWT
Jwt__Issuer=TraineeManagementApi
Jwt__Audience=TraineeManagementClient
Jwt__ExpiryMinutes=60
Jwt__Key=ThisIsVerySecureSecretKeyForJwtTokenGeneration